

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/yekan.ttf') format('truetype'),
         url('../Client/fonts/yekan.otf') format('woff');
}

@media (min-width: 768px){
  #wrapper {padding-right: 180px; padding-left: 0; padding-top:5px;}
  .side-nav{right: 0;left: auto;}
}
.dropdown{
  position: absolute;
  right:-35px;
}

*{
    font-family: 'Yekan', Tahoma;
}
div#plcTitle {
    font-size: 10pt;
}
#loading {
    min-height: 768px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1000;
    top: 0px;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center 200px;
    display: none;
}
.panel {
    position: fixed;
    z-index:2000;
    margin:5px 5px 0 5px;
}
.panel-heading{
    min-height: 50px;
}
#btnRestore, #btnMaximize {
    position: absolute;
    left:14px;
}